{
  "hs_url": "http://127.0.0.1:8008",
  "domain": "localhost",
  "as_token": "${AS_TOKEN_IMESSAGE}",
  "hs_token": "${HS_TOKEN_IMESSAGE}",
  "port": 29350,
  "user_id": "@jkali:localhost",
  "bot_id": "@imessagebot:localhost",
  "cli_path": "${CLI_PATH}",
  "self_handle": "REPLACE_WITH_YOUR_IMESSAGE_HANDLE",
  "poll_interval": 2,
  "attachment_allow_prefixes": ["/var/folders/", "/private/tmp/"],
  "max_body_kb": 256,
  "rate_per_chat_per_min": 20
}
